.Footer{
  margin-bottom: 25vh;
}
.question_link {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10vh;
  margin-bottom: -20vh;
  margin-left: 10vw;
}
.question_link a {
  color: rgba(255, 255, 255, 0.7);
}
.Footer_Section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25vh;
    flex-wrap: wrap;
}
.Footer_Article_ul{
  font-weight: 400;
  font-size: 16px;
  line-height: 5vh;
  list-style-type: none;
}
.Footer_Article_ul li a{
  color: rgba(255, 255, 255, 0.7);
}
.Footer_Article_ul{
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
}
.form_language {
  margin-left: 5vw;
}
.Footer_Article_Form select {
  width: 8vw;
  height: 5vh;
  color: white;
  background-color: #0F0F0F;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 5vh;
}
.Footer_Form_Article_P_NP{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 16px;
  margin-left: 10vw;
}
.Footer_Form_Article_P_LM{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 13px;
  margin-left: 10vw;
}
