.Frequently_asked_questions_Section_Article_For_All{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}
.Frequently_asked_questions_Section h2{
    margin-top: 10vh;
    margin-bottom: -12vh;
    margin-left: 12vw;
    font-weight: 500;
    font-size: 24px;
}
.Frequently_asked_questions_Section_Details{
    width: 80vw;
    background: #303030;
    margin-bottom: 10px;
    padding: 30px 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    /* margin-bottom: 1.4vh; */
    transition: 0.5s ease-in-out; 
}
.Frequently_asked_questions_Section_Details:hover {
  background: #3d3d3d;
}
summary {
  outline: none;
}
.Frequently_asked_questions_Section_Details p{
  margin-top: 15px;
  font-size: 24px;
  line-height: 5vh;
  text-indent: 5vw;
}
summary::after {
  content: "+";
  float: right;
}
details[open] summary::after {
  content: "-";
}








.Frequently_asked_questions_Section_Form_P{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 8px;
}
.Frequently_asked_questions_Section_Form{
    display: flex;
    justify-self: center;
    gap: 5px;
    margin-left: 10px;
    margin-top: 2vh;
}
.Frequently_asked_questions_Section_Form .Frequently_asked_questions_Section_Form_article_Email{
    width: 36vw;
    height: 8vh;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.Frequently_asked_questions_Section_Form .Frequently_asked_questions_Section_Form_article_Email::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 18px;
}
.Frequently_asked_questions_Section_Form .Frequently_asked_questions_Section_Form_article_btn{
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    background-color: red;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.Frequently_asked_questions_Section_Form .Frequently_asked_questions_Section_Form_article_btn:hover{
    background-color: rgb(190, 11, 11);
    transition: 0.5s;
}