.Header{
    display: flex;
    flex-direction: row;
    gap: 40vw;
    width: 100%;
    height: 10vh;
    align-content: space-around;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
.Header img{
    width: 20vw;
    height: 30vh;
    margin-top: -10vh;
}
.Header .sign_in_btn{
    width: 6vw;
    height: 6vh;
    color: white;
    background-color: rgb(228, 40, 40);
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 4vh;
    transition: 0.5s ease-in-out;
}
.Header button:hover{
    background-color: #C11119;
}